sample/flow.json
[{"id":"e505064d.608958","type":"tab","label":"Demo","disabled":false,"info":"curl -v -X POST http://localhost:1880/post -d '{ \"c\": \"a\", \"d\": 9 }' -H 'content-type: application/json'"},{"id":"c0084ce9.221a5","type":"struct","z":"e505064d.608958","name":"Test","rules":[{"n":"c","t":"string","s":"4","v":"a","m":"default"},{"n":"d","t":"integer","s":"0","v":"","m":"required"}],"x":450,"y":240,"wires":[["3f8b5b74.cc0584"],["9cf848f3.8c1658"]]},{"id":"e1233b11.4667f8","type":"http in","z":"e505064d.608958","name":"","url":"/post","method":"post","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["430cbf74.e345b"]]},{"id":"3f8b5b74.cc0584","type":"http response","z":"e505064d.608958","name":"200","statusCode":"200","headers":{},"x":740,"y":240,"wires":[]},{"id":"9cf848f3.8c1658","type":"http response","z":"e505064d.608958","name":"400","statusCode":"400","headers":{},"x":740,"y":320,"wires":[]},{"id":"430cbf74.e345b","type":"json","z":"e505064d.608958","name":"","property":"payload","action":"obj","pretty":false,"x":300,"y":240,"wires":[["c0084ce9.221a5"]]}]